.l-c-combination {
  position: relative;
  float: left;
  margin-right: 100px;
  .qi {
  border-left: 1px solid rgb(174, 140, 122);
  margin-left: 65px;
  }
  .circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    left: 35px;
    line-height: 60px;
    font-size: 14px;
    text-decoration: none;
    color: #333;
  }
  .home-page {
    background-color: rgb(253, 219, 212);
  }
  .home-page-height {
    height: 88px;
  }
  .text-page {
    background-color: rgb(175, 220, 212);
  }
  .text-page-height {
    height: 100px;
  }
  .about-page {
    background-color: rgb(198, 209, 150);
  }
  .about-page-height {
    height: 94px;
  }
  .message-page {
    background-color: rgb(174, 140, 122);
  }
  .message-page-height {
    height: 110px;
  }
  .book-page {
    background-color: rgb(237, 221, 241);
  }
  .book-page-height {
    height: 96px;
  }
  .code-page {
    background-color: rgb(254, 237, 174);
  }
  .code-page-height {
    height: 90px;
  }
}
